/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */


.content {
    margin: 6%;
    background-color: rgba(255, 255, 255, 1);
}

.content-sidebar {
    display: flex;
    flex-wrap: wrap;
}

.content-sidebar>*:nth-child(1) {
    flex: 1 1 85%;
}

.content-sidebar>*:nth-child(2) {
    flex: 1 1 15%;
}

.title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    padding-top: 19px;
}

.title span {
    font-weight: 700;
}

.nav-bar {
    text-align: right;
    line-height: 40px;
}

.nav-bar ul {
    list-style: none;
    padding-right: 30px;
    border-right: 1px solid #E7F0F2;
}

.nav-bar a {
    text-decoration: none;
    font-family: "Ubuntu";
    font-size: 13px;
    text-transform: uppercase;
    color: #00000066;

}

.mid-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    gap: 1em;
}

.mid-content>*:nth-child(1) {
    flex: 1 1 15%;
}

.mid-content>*:nth-child(2) {
    flex: 1 1 80%;
}

button {
    width: 98px;
    height: 32px;
    text-transform: capitalize;
    font-family: "Ubuntu";
    background-color: black;
    text-align: center;
}

button a {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.sub-title {
    text-align: right;
    font-size: 36px;
}

.sub-title span {
    font-weight: 700;
}

/* .line {
    border-top: 1px solid #E7F0F2;
    margin-top: 65px;
    justify-content: flex-end;  
} */

.text {
    margin-top: 60px;
    text-align: right;
    color: rgba(0, 0, 0, 0.55);
    font-family: "Ubuntu";
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
}

.card {
    display: flex;
    margin-top: 30px;
    justify-content: flex-end;
    gap: 40px;
}

.gallery,
.activities,
.keynote {
    Width: 215px;
    Height: 114px;
    background-color: rgba(0, 0, 0, 1);
    color: #FFFFFF;
    text-align: right;
    line-height: 11px;
}

.card-text {
    margin-top: 63px;
    margin-right: 16px;
}

.text-1 {
    font-family: "Roboto";
    font-weight: 900;
    font-size: 11px;
}

.text-2 {
    font-family: "Ubuntu";
    font-weight: 500;
    font-size: 9px;
}

footer {
    border-top: 0.5px solid #C4C4C4;
    text-align: center;
}

footer img {
    margin-top: 10px;
    Width: 16px;
    Height: 16px;
}