@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    margin: 0px;
    padding: 0px;
}

.navbar {
    text-align: right;
    margin-right: 55px;
    margin-top: 40px;

}

.btn-back {
    margin-top: 30px;
}

.btn-back span a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-family: "Roboto";
    font-weight: 900;
    font-size: 12px;
}

.image {
    margin-right: 20px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 55px;
    background-color: rgba(255, 255, 255, 1);
}

.content>*:nth-child(1) {
    flex: 1 1 40%;
}

.content>*:nth-child(2) {
    flex: 1 1 60%;
}

.container img {
    position: relative;
    max-width: 523px;
}

.slider {
    position: relative;
    bottom: 43px;
}

.prev,
.next {
    width: 40px;
    height: 43px;
    text-align: center;
    background-color: #000000;
    display: inline-block
}

.img-next,
.img-prev {
    margin-top: 15px;
    width: 11px;
    height: 13px;
}

.title,
.title span {
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 300;
    color: #363A41;
}

.title span {
    font-weight: 900;
}

.price {
    font-style: "Roboto";
    font-size: 15px;
    font-weight: 900;
    line-height: 20px;
    margin-top: 25px;
}

.discount {
    color: #C3DEE4;
    font-weight: 500;
}

.product-description .text {
    width: 346px;
    font-family: "Ubuntu";
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
    margin-top: 30px;
}

.product-description form {
    margin-top: 30px;
}

form label {
    color: rgba(0, 0, 0, 0.55);
    font-family: "Ubuntu";
    font-weight: 500;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.55);
}

form #size {
    font-family: "Roboto";
    font-weight: 900;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.85);
    border: none;
}

#size option {
    border: none;
    font-size: 15px;
}

#size option:active {
    border: none;
}

.label {
    text-align: right;
    font-family: "Ubuntu";
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.55);
    margin-top: 30px;
}

.product-description button {
    font-family: "Ubuntu";
    font-size: 12px;
    font-weight: 500;
    margin-top: 30px;
    width: 147px;
    height: 48px;
    border: none;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
}

footer {
    border-top: 1px solid rgb(194, 194, 194);
    text-align: center;
}

footer img {
    margin-top: 10px;
    Width: 16px;
    Height: 16px;
}

@media only screen and (max-width: 1004px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        margin: 20px 40px;
    }

    .btn-back {
        margin-top: 0px;
    }

    .container {
        text-align: center;
    }

    .slider {
        display: flex;
        justify-content: space-between;
    }
}